@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,400&display=swap");
@import url(./css/roots.css);

.font-ff{
  font-family: 'Poppins', sans-serif !important;
} 

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box !important;
  list-style-type: none !important;
  text-decoration: none !important;
  /* border:red 2px solid */

}
.container_xxl {
  max-width: 1920px;
  margin-left: auto;
  margin-right: auto;
  padding-right: 12px;
  padding-left: 12px;
}
.bg_color_nav {
  background: #d2da60;
}
.bg_color_white {
  background: #ffffff;
}
.min_100vh {
  min-height: 100vh;
}
.z_index {
  z-index: 1;
}

.position_sticky {
  position: sticky;
  width: 100%;
}
.justify_content_center {
  justify-content: flex-start;
}
.pb_16px {
  padding-bottom: 16px;
}
.pb_20px {
  padding-bottom: 20px;
}
.ml_3px {
  margin-left: 3px;
}
.ml_15px {
  margin-left: 15px;
}
.ml_45px {
  margin-left: 45px;
}

nav ul li a {
  font-family: "Poppins", sans-serif;
  color: #9003e5;
  display: inline-block;
}
nav ul li a::after {
  content: "";
  width: 0%;
  height: 4px;
  bottom: 0;
  display: block;
  background-color: #9003e5;
  transition: all 100ms ease-in-out;
}
nav ul li a:hover::after {
  width: 100%;
}

.section1_bcground {
  background-image: url("../images/house.img.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: fixed;
  min-height: 100vh;
}
.hero_section1_para1 {
  color: #8a3e74;
  font-style: italic;
}
.hero_section1_para2 {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 54px;
  color: #000000;
}
.colour_me_btn {
    background: linear-gradient(90deg, #9104e5 0%, #f93b96 96.47%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
  border: 4px solid;
  border-image-source: linear-gradient(90.44deg, #9003e5 2.42%, #f93b95 99.69%);
  border-image-slice: 1;
  padding: 13px 45px;
}

.section1_para1 {
   color: #000000;
}
.main_section1_para1 {
  color: #000000;
}
.left_color_image {
  position: absolute;
  top: 70%;
  left: -14%;
}
.right_color_image {
  position: absolute;
  top: 0%;
  right: -10%;
}

.grid_image {
  height: 100%;
  transition: all 400ms linear;
}
.grid_image:hover {
  transform: scale(1.2);
}
.small_balls {
  transition: all 200ms ease-in-out;
}
.small_balls:hover {
  transform: scale(1.7);
}
.box_gradient {
  background-image: url("../images/bg.img.png");
  background-size: cover;
  background-repeat: no-repeat;
}
.box_gradient {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 80%;
  height: 80%;
  border: 4px solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(90deg, #9104e5 0%, #f93b96 96.47%);
  transform: translate(-50%, -50%);
}
.section3_para1 {
  color: #ffffff;
}
.section3_para2 {
 color: #ffffff;
}
.gradient_hover{
  background-image: url(../image/bgimag11.png);
  top: 0%;
  height: 100%;
  width: 100%;
opacity: 0;
transition: all 200ms ease-in-out;

}
.gradient_hover:hover{
  position: absolute;
  opacity: 1;
}




.pr_lg_61px {
  padding-right: 61px;
}
.pt_lg_23px {
  padding-top: 23px;
}
.pt_lg_33px {
  padding-top: 33px;
}

.main_section4_para1 {
  color: #000000;
}
.main_section4_para2 {
  max-width: 647.94px;
  color: #000000;
}
.main_section4_para3 {
  color: #000000;
  padding-left: 12px;
}
.section4_image1 {
  border-radius: 23px;
  overflow: hidden;
}
.girl_image {
  border-radius: 23px;
  height: 100%;
  transition: scale 400ms;
}
.girl_image:hover {
  scale: 120%;
}

.m_lr_auto {
  margin-left: auto;
  margin-right: auto;
}
.main_section5_para1 {
  text-align: center;
  color: #000000;
}
.text_width_276px {
  max-width: 246px;
}
.text_width_194px {
  max-width: 194px;
}
.text_width_231px {
  max-width: 231px;
}
.text_width_181px {
  max-width: 181px;
}
.text_width_254px {
  max-width: 254px;
}
.section5_round_image{
transition: all 200ms ease-in-out;
}
.section5_round_image:hover{
transform: scale(0.9);
}

.section6_para1 {
  color: #010080;
}
.section6_para2 {
  color: #000000;
}
.section6_para3 {
  max-width: 471px;
 font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  text-align: justify;
  color: #000000;
}
.read_more_btn {
  text-align: justify;
  color: #ffffff;
  padding: 11px 34px;
  display: inline-block;
  background: #010080;
  border-radius: 4px;
}
.pb_lg_24px {
  padding-bottom: 24px;
}
.pb_lg_16px {
  padding-bottom: 16px;
}
.z_index_1 {
  position: absolute;
  z-index: -2;
}
.section6box{
  overflow: hidden;
  border-radius: 30px;
  height: 100%;
 
}


img[alt="section6_image"]{
 transition: all 200ms ease-in-out;
}
img[alt="section6_image"]:hover{
  transform: scale(1.2);
}

img[alt="section7_image"]{
 transition: all 200ms ease-in-out;
}
img[alt="section7_image"]:hover{
  transform: scale(1.2);
}
img[alt="section8_image"]{
 transition: all 200ms ease-in-out;
}
img[alt="section8_image"]:hover{
  transform: scale(1.2);
}
.h2{
  font-size: 18px !important;
}

@keyframes scroll{
  0%{
    transform: translateX(0);
      }
      100%{
        transform: translateX(calc(-250px));
      }
}
.slider{
  height: 300px;
  display: grid;
  overflow: hidden;
}
.slider-track{
  display: flex;
   animation: scroll 4s linear infinite;
}
.slide{
  height: 200px;
  display: flex;
}

.section9_para1 {
 font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 54px;
  text-align: justify;
  color: #ffffff;
  padding-bottom: 16px;
}
.section9_box1 {
  background: #010080;
  border-radius: 24px;
  padding: 0 28px;
}

.section9_para2 {
 font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  text-align: center;
  color: #ffffff;
}
.section9_para3 {
  max-width: 470px;
  position: absolute;
  top: 80%;
  background-color: white;
  left: 38px;

}

.p_lg_11_17 {
  padding: 11px 17px;
}
.mw_lg_370px {
  max-width: 370px;
}
.mw_lg_335px {
  max-width: 335px;
}
.mb_lg_24px {
  margin-bottom: 24px;
}
.pt_lg_140px {
  padding-top: 140px;
}

.section_10_bg_color {
  background: #010080;
}
.section10_para1 {
  text-align: justify;
  color: #ffffff;
}
.section10_para2 {
  text-align: justify;
  color: #ffffff;
  padding-top: 6px;
}
.section10_para3 {
  text-align: justify;
  color: #ffffff;
}
.section10_row1 {
  transition: all 1ms ease-in-out;
  cursor: pointer;
}
.section10_row1:hover {
  z-index: 3;
}

.section10_row2 {
  transition: all 1ms ease-in-out;
  cursor: pointer;
}
.section10_row2:hover {
  z-index: 2;
}


.section10_right_color {
  position: absolute;
  top: 60%;
  left: 61%;
  z-index: 1;
}
.box1:hover {
  background-color: #CE81E1;
}

.section11_para1 {
  text-align: center;
  color: #000000;
  padding-top: 16px;
}
.section11_para2 {
 font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 27px;
  text-align: center;
  color: #000000;
  padding-top: 8px;
}
.section11_box {
  background: #f0f0f0;
  border-radius: 45px;
  width: 100%;
  height: 394px;
}
.Subscribe {
  color: #ffffff;
  background: #010080;
  padding: 24px 49px;
  margin-left: 24px;
}
pt_115{
padding-top: 115px;
}
.email {
 font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
  text-align: justify;
  color: #000000;
  padding: 20px;
  border: unset;
  padding-left: 40px;
  width: 54%;
}
.news_letter {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 35px;
  line-height: 216px;
  background: linear-gradient(90deg, #9104e5 0%, #f93b96 96.47%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  position: absolute;
  top: -28%;
  left: 50%;
  cursor: pointer;
  transform: translateX(-50%);
}
.section11_left1 {
  top: 0%;
  left: 0%;
  z-index: -1;
}
.section11_right1 {
  width: 24%;
  top: -14%;
  right: 0%;
  z-index: -1;
}
.section11_left2 {
  top: 70%;
  left: 0%;
  z-index: -1;
}
.mb-20{
  margin-bottom: 20px !important;
}
.section11_right2 {
  width: 24%;
  top: 65%;
  right: 0%;
  z-index: -1;
}

img[alt="section11_image1"]{
 transition: all 200ms ease-in-out;
}
img[alt="section11_image1"]:hover{
  transform: scale(0.9);
}
img[alt="section11_image2"]{
 transition: all 200ms ease-in-out;
}
img[alt="section11_image2"]:hover{
  transform: scale(0.9);
}
img[alt="section11_image3"]{
 transition: all 200ms ease-in-out;
}
img[alt="section11_image3"]:hover{
  transform: scale(0.9);
}

.footer {
  background: #000000;
}

.footer_text1 {
  max-width: 536px;
   color: #ffffff;
}
.ml_19px {
  margin-left: 19px;
}
.footer_atext {
  color: #ffffff;
  display: inline-block;
}
.footer_atext::after{
  content: "";
  width: 0%;
  height: 4px;
  bottom: 0;
  display: block;
  background-color: #9003e5;
  transition: all 100ms ease-in-out;
}
.footer_atext:hover::after{
width: 100%;
}
.pt_10px {
  margin-top: 10px;
}
.pb_xs_10px {
  margin-bottom: 30px;
}
.pr-53{
  padding-right: 53px;
}
.pt-112{
  padding-top: 112px;
}
.pt_54px {
  padding-top: 54px;
}
.pb_54px {
  padding-bottom: 54px;
}
.pl_82px {
  padding-left: 82px;
}
.pl_109px {
  padding-left: 109px;
}
.pl_128px {
  padding-left: 128px;
}
.copy_right {
  padding-top: 20px;
  padding-bottom: 25px;
  border-top: 1px solid white;
  color: #ffffff;
  background-color: #000000;
}
.pl-315{
  padding-left: 315px;
}
.width-100{
  width: 100%;
}


@media (max-width: 1200px) {
  .ml_xl_30px {
    margin-left: 30px;
  }
}
@media (max-width: 992px) {
  label[for="logo"] {
    width: 45px;
    height: 35px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    z-index: 1;
  }
  label[for="logo"] > span {
    width: 100%;
    height: 5px;
    border-radius: 30px;
    background-color: red;
  }
  .lg_screen {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    position: fixed;
    opacity: 0;
    top: 0;
    left: -100%;
    pointer-events: none;
    transition: all 200ms linear;
    background-color: #d2da60;
  }
  input[type="checkbox"]:checked + ul.lg_screen {
    opacity: 1;
    left: 0%;
    pointer-events: all;
  }
  .ml_lg_0 {
    margin-left: 0;
  }
  .mt_lg_30px {
    margin-top: 30px;
  }
}

@media (min-width: 320px) {
  .fs_xs_34 {
    font-size: 33px;
  }
  .fs_xs_35 {
    font-size: 35px;
  }
  .fs_xs_23 {
    font-size: 23px;
  }
  .section6_box{
    background: #eeeeee;
    border-radius: 0px;
    padding: 54px 30px;
    height: auto;
    width: 100%;
  }
}
@media (min-width: 576px) {
  .fs_sm_36 {
    font-size: 36px;
  }
  .fs_sm_18 {
    font-size: 18px;
  }
  .section6_box{
    background: #eeeeee;
    border-radius: 0px;
    padding: 54px 30px;
    height: auto;
    width: 100%;
  }
}

@media (min-width: 320px) {
  .w_xl_15 {
    width: 15%;
  }
  .fs_xs_24px {
    font-size: 24px;
  }
  .right_color_image {
    position: absolute;
    top: 6%;
    right: 0%;
  }
  .left_color_image {
    position: absolute;
    top: 88%;
    left: 0%;
  }
  .pt_xs_5px {
    padding-top: 5px;
  }
  .pt_xs_15px {
    padding-top: 15px;
  }
  .pt_xs_30px {
    padding-top: 30px;
  }
  .pb_xs_40px {
    padding-bottom: 40px;
  }
}
@media (min-width: 576px) {
  .left_color_image {
    position: absolute;
    top: 70%;
    left: 0%;
  }
  .right_color_image {
    position: absolute;
    top: 6%;
    right: 0%;
  }

  .first_line::after {
    content: "";
    width: 100%;
    height: 1px;
    top: 73%;
    display: block;
    border: 1px dashed #000000;
    position: absolute;
  }
  .second_line::before {
    content: "";
    width: 1px;
    height: 100%;
    top: 5%;
    left: 50%;
    display: block;
    border: 1px dashed #000000;
    position: absolute;
  }
  .third_line::before {
    content: "";
    width: 100%;
    height: 1px;
    top: 38%;
    left: 0%;
    display: block;
    border: 1px dashed #000000;
    position: absolute;
  }
  .pt_sm_10px {
    padding-top: 10px;
  }
  .pt_sm_30px {
    padding-top: 30px;
  }
  .pt_sm_60px {
    padding-top: 60px;
  }
}

@media (min-width: 768px) {
  .fs_md_13px {
    font-size: 13px;
  }
  .w_xl_15 {
    width: 15%;
  }
  .right_color_image {
    position: absolute;
    top: 22%;
    right: 0%;
  }
  .left_color_image {
    position: absolute;
    top: 66%;
    left: 0%;
  }
  .pt_md_18px {
    padding-top: 18px;
  }
  .pt_md_25px {
    padding-top: 25px;
  }
  .pt_md_60px {
    padding-top: 60px;
  }
  .pt_md_90px {
    padding-top: 90px;
  }
  .section6_box{
    background: #eeeeee;
    border-radius: 0px;
    padding: 54px 30px;
    height: auto;
    width: 100%;
  }
  .first_line::after {
    content: "";
    width: 100%;
    height: 1px;
    top: 60%;
    display: block;
    border: 1px dashed #000000;
    position: absolute;
  }
  .second_line::before {
    content: "";
    width: 1px;
    height: 95%;
    top: 15%;
    left: 33%;
    display: block;
    border: 1px dashed #000000;
    position: absolute;
  }
  .third_line::before {
    content: "";
    width: 1px;
    height: 95%;
    top: 15%;
    left: 65%;
    display: block;
    border: 1px dashed #000000;
    position: absolute;
  }
}
@media (min-width: 992px) {
  .w_xl_15 {
    width: 15%;
  }
  .left_color_image {
    position: absolute;
    top: 56%;
    left: 0%;
  }
  .right_color_image {
    position: absolute;
    top: 15%;
    right: 0%;
  }  .section6_box{
    background: #eeeeee;
    border-radius: 40px;
    padding: 54px 30px;
    height: auto;
    width: 100%;
  }
  .hh{
    z-index: -1;
    bottom: 159px;
  }


  .pt_lg_24px {
    padding-top: 24px;
  }
  .pt_lg_82px {
    padding-top: 82px;
  }
  .pt_lg_85px {
    padding-top: 85px;
  }
  .pb_lg_115px {
    padding-bottom: 115px;
  }
  .pt_136px {
    padding-top: 136px;
  }
  .pt_184px {
    padding-top: 184px;
  }
  .mb_lg_115px {
    margin-bottom: 115px;
  }
  .mt_lg_54px {
    margin-top: 54px;
  }
}
@media (min-width: 1200px) {
  .w_xl_15 {
    width: 15%;
  }
  .right_color_image {
    position: absolute;
    top: 2%;
    right: 0%;
  }
  .left_color_image {
    position: absolute;
    top: 54%;
    left: 0%;
  }
  .section6_box{
    background: #eeeeee;
    border-radius: 40px;
    padding: 54px 60px;
    height: auto;
    width: 100%;
  }
  .section6_absolute{
    position: none;
    top: -263px;
    left: 4%;
    z-index: -1;
    width: 93%;
  }
}

@media (min-width: 320px) {
  .fs_xs_15px {
    font-size: 15px;
  }
  .fs_xs_28px {
    font-size: 28px;
  }
  .grid_item1 {
    grid-row: 1/2;
    grid-column: 1/2;
  }
  .grid_item2 {
    grid-row: 2/3;
    grid-column: 1/2;
  }
  .grid_item3 {
    grid-row: 3/4;
    grid-column: 1/2;
  }
  .grid_item4 {
    grid-row: 4/5;
    grid-column: 1/2;
  }
  .grid_item5 {
    grid-row: 5/6;
    grid-column: 1/2;
  }
  .grid_item6 {
    grid-row: 6/7;
    grid-column: 1/2;
  }
  .grid_item7 {
    grid-row: 7/8;
    grid-column: 1/2;
  }
  .grid_item8 {
    grid-row: 8/9;
    grid-column: 1/2;
  }
}

@media (min-width: 576px) {
  .grid_item1 {
    grid-row: 1/2;
    grid-column: 1/2;
  }
  .grid_item2 {
    grid-row: 1/2;
    grid-column: 2/3;
  }
  .grid_item3 {
    grid-row: 2/3;
    grid-column: 1/2;
  }
  .grid_item4 {
    grid-row: 2/3;
    grid-column: 2/3;
  }
  .grid_item5 {
    grid-row: 3/4;
    grid-column: 1/2;
  }
  .grid_item6 {
    grid-row: 3/4;
    grid-column: 2/3;
  }
  .grid_item7 {
    grid-row: 4/5;
    grid-column: 1/2;
  }
  .grid_item8 {
    grid-row: 4/5;
    grid-column: 2/3;
  }
}

@media (min-width: 768px) {
  .pb_md_16px {
    padding-bottom: 16px;
  }
  .pb_md_10px {
    padding-bottom: 10px;
  }
  .fs_md_23px {
    font-size: 23px;
  }
  .fs_md_15px {
    font-size: 15px;
  }
  .grid_item1 {
    grid-row: 1/2;
    grid-column: 1/2;
  }
  .grid_item2 {
    grid-row: 1/2;
    grid-column: 2/3;
  }
  .grid_item3 {
    grid-row: 1/2;
    grid-column: 3/4;
  }
  .grid_item4 {
    grid-row: 2/3;
    grid-column: 1/2;
  }
  .grid_item5 {
    grid-row: 2/3;
    grid-column: 3/4;
  }
  .grid_item6 {
    grid-row: 3/4;
    grid-column: 1/2;
  }
  .grid_item7 {
    grid-row: 3/4;
    grid-column: 2/3;
  }
  .grid_item8 {
    grid-row: 3/4;
    grid-column: 3/4;
  }
}
@media (min-width: 992px) {
  .pb_lg_10px {
    padding-bottom: 10px;
  }

  .grid_item1 {
    grid-row: 1/2;
    grid-column: 1/2;
  }
  .grid_item2 {
    grid-row: 1/2;
    grid-column: 2/3;
  }
  .grid_item3 {
    grid-row: 1/2;
    grid-column: 3/4;
  }
  .grid_item4 {
    grid-row: 1/2;
    grid-column: 4/5;
  }
  .grid_item5 {
    grid-row: 2/3;
    grid-column: 1/2;
  }
  .grid_item6 {
    grid-row: 2/3;
    grid-column: 2/3;
  }
  .grid_item7 {
    grid-row: 2/3;
    grid-column: 3/4;
  }
  .grid_item8 {
    grid-row: 2/3;
    grid-column: 4/5;
  }
}


@media (min-width: 320px) {
  .cloud {
    position: absolute;
    top: 0%;
    left: 0%;
    z-index: -1;
  }
  .right_color2 {
    position: absolute;
    top: 80%;
    right: 0%;
    z-index: -1;
  }
  .pt_xs_10px {
    padding-top: 10px;
  }
  .pt_xs_30px {
    padding-top: 30px;
  }
  .pb_xs_30px {
    padding-bottom: 30px;
  }
  .pb_xs_10px {
    padding-bottom: 10px;
  }
  .flexd_xs_column {
    flex-direction: column;
  }
  .fs_xs_17px {
    font-size: 17px;
  }
  .fs_xs_13px {
    font-size: 13px;
  }
  .w_xs_15 {
    width: 15%;
  }
}
@media (min-width: 576px) {
  .cloud {
    position: absolute;
    top: 0%;
    left: 0%;
    z-index: -1;
  }
  .right_color2 {
    position: absolute;
    top: 80%;
    right: 0%;
    z-index: -1;
  }
  .flexd_sm_row {
    flex-direction: row;
  }
  .section6_absolute{
    position: none;
    top: 30px;
    left: 3%;
    z-index: -1;
    width: 100%;
  }
}
@media (min-width: 768px) {
  .fs_md_21px {
    font-size: 21px;
  }
  .fs_md_11px {
    font-size: 11px;
  }
  .pr_md_20px {
    padding-right: 20px;
  }
  .cloud {
    position: absolute;
    top: 0%;
    left: 0%;
    z-index: -1;
  }
  .right_color2 {
    position: absolute;
    top: 42%;
    right: 0%;
    z-index: -1;
  }
  .section6_absolute{
    position: none;
    top: 30px;
    left: 3%;
    z-index: -1;
    width: 100%;
  }
}
@media (min-width: 992px) {
  .pt_lg_115px {
    padding-top: 115px;
  }
  .section6_absolute{
    position: none;
    top: -255px;
    left: 3%;
    z-index: -1;
    width: 92%;
  }
}
@media (min-width:1400px) {
  .section6_box{
    background: #eeeeee;
    border-radius: 40px;
    padding: 54px 50px;
    height: auto;
    width: 100%;
  }
  .mw.section6_box{
    background: #eeeeee;
    border-radius: 40px;
    padding: 54px 50px;
    height: auto;
    width: 100%;
    right: 0%;
  }
  .section6_absolute{
    position: none;
    top: -285px;
    left: 5%;
    z-index: -1;
    width: 95%;
    right: 0%;
  }
  
}
@media (min-width:1600px) {
  .section6_box{
    background: #eeeeee;
    border-radius: 40px;
    padding: 54px 50px;
    height: auto;
    width: 100%;
  }
  .section6_absolute{
    position: none;
    top: -285px;
    left: 10%;
    z-index: -1;
    width: 90%;
  }
  
}
    